In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
olist_orders = pd.read_csv("../data/raw/archive/olist_orders_dataset.csv")
olist_order_items = pd.read_csv("../data/raw/archive/olist_order_items_dataset.csv")
olist_customers = pd.read_csv("../data/raw/archive/olist_customers_dataset.csv")
olist_products = pd.read_csv("../data/raw/archive/olist_products_dataset.csv")
olist_reviews = pd.read_csv("../data/raw/archive/olist_order_reviews_dataset.csv")
olist_geolocation = olist_customers = pd.read_csv("../data/raw/archive/olist_customers_dataset.csv")

customer_cluster = pd.read_csv("../data/processed/customers_cluster.csv")

In [14]:
customers = customer_cluster.merge(olist_customers, how="inner", on="customer_unique_id")
customers_orders = customers.merge(olist_orders, how="inner", on="customer_id")
customers_orders_items = customers_orders.merge(olist_order_items, how="inner", on="order_id")
customers_products = customers_orders_items.merge(olist_products, how="inner", on="product_id")

customers_reviews = customers_orders.merge(olist_reviews, how="inner", on="order_id")

In [11]:
customers_products[customers_products.cluster == 2].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,1397.000000,1397.000000,1397.000000,1397.0,1397.000000,1397.000000,1397.000000,1397.000000,1379.000000,1379.000000,1379.000000,1396.000000,1396.000000,1396.000000,1396.000000
mean,47641.425197,1929.011832,1.153901,2.0,43206.385111,2.307087,1024.230809,55.227559,49.507614,1461.440174,2.421320,8041.859599,40.399713,29.092407,31.007880
std,28268.797939,1233.778427,0.500652,0.0,30552.767051,2.629628,836.156370,54.371117,9.038487,1084.486365,1.752919,8727.040123,23.437233,19.617472,16.049183
min,132.000000,1137.560000,1.000000,2.0,1020.000000,1.000000,32.000000,0.070000,14.000000,83.000000,1.000000,50.000000,14.000000,2.000000,11.000000
25%,22806.000000,1338.510000,1.000000,2.0,14640.000000,1.000000,220.000000,24.160000,43.000000,569.000000,1.000000,922.000000,20.000000,15.000000,18.000000
50%,48043.000000,1619.730000,1.000000,2.0,36200.000000,1.000000,1099.000000,38.510000,52.000000,1158.000000,2.000000,3750.000000,34.000000,22.000000,26.000000
75%,72815.000000,2065.770000,1.000000,2.0,74825.000000,2.000000,1450.000000,64.250000,56.000000,1973.000000,4.000000,13350.000000,53.000000,40.000000,40.000000
max,94978.000000,13664.080000,4.000000,2.0,99615.000000,20.000000,6735.000000,409.680000,63.000000,3992.000000,10.000000,30000.000000,105.000000,105.000000,100.000000

In [13]:
customers_products[customers_products.cluster == 2].product_category_name.value_counts()

informatica_acessorios                            145
pcs                                               132
beleza_saude                                      107
automotivo                                        101
relogios_presentes                                100
moveis_escritorio                                  91
moveis_decoracao                                   75
esporte_lazer                                      54
ferramentas_jardim                                 51
utilidades_domesticas                              45
construcao_ferramentas_construcao                  44
instrumentos_musicais                              42
bebes                                              41
eletroportateis                                    39
telefonia                                          34
cama_mesa_banho                                    34
eletrodomesticos_2                                 26
telefonia_fixa                                     24
agro_industria_e_comercio                          17
cool_stuff                                         17
moveis_sala                                        16
brinquedos                                         15
climatizacao                                       14
sinalizacao_e_seguranca                            12
portateis_casa_forno_e_cafe                        10
bebidas                                            10
construcao_ferramentas_seguranca                    9
eletronicos                                         8
consoles_games                                      8
eletrodomesticos                                    8
casa_construcao                                     7
pet_shop                                            7
industria_comercio_e_negocios                       4
construcao_ferramentas_iluminacao                   3
fashion_bolsas_e_acessorios                         3
papelaria                                           3
market_place                                        3
malas_acessorios                                    3
moveis_cozinha_area_de_servico_jantar_e_jardim      3
construcao_ferramentas_ferramentas                  3
moveis_quarto                                       3
perfumaria                                          1
audio                                               1
construcao_ferramentas_jardim                       1
artes                                               1
musica                                              1
dvds_blu_ray                                        1
portateis_cozinha_e_preparadores_de_alimentos       1
cine_foto                                           1
Name: product_category_name, dtype: int64

In [12]:
customers_products.columns

Index(['Unnamed: 0', 'customer_unique_id', 'total_value', 'quant_orders',
       'cluster', 'customer_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [18]:
customers_reviews[customers_reviews.cluster == 2].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,review_score
count,875.000000,875.000000,875.000000,875.0,875.000000,875.000000
mean,47700.668571,1795.583806,1.084571,2.0,42111.961143,3.932571
std,27844.089509,859.641836,0.334414,0.0,29997.138741,1.519146
min,132.000000,1137.560000,1.000000,2.0,1020.000000,1.000000
25%,23823.000000,1324.555000,1.000000,2.0,14805.500000,3.000000
50%,47040.000000,1535.220000,1.000000,2.0,35501.000000,5.000000
75%,71155.000000,2022.665000,1.000000,2.0,69681.500000,5.000000
max,94978.000000,13664.080000,4.000000,2.0,99615.000000,5.000000

In [19]:
customers_reviews[customers_reviews.cluster == 1].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,review_score
count,6459.000000,6459.000000,6459.000000,6459.0,6459.000000,6459.000000
mean,47396.792538,301.577266,2.237034,1.0,33950.793312,4.166899
std,27003.203375,239.063446,0.961322,0.0,29774.746584,1.304760
min,106.000000,35.940000,2.000000,1.0,1005.000000,1.000000
25%,24388.000000,147.130000,2.000000,1.0,9750.000000,4.000000
50%,46912.000000,227.240000,2.000000,1.0,22790.000000,5.000000
75%,70442.500000,367.860000,2.000000,1.0,53545.000000,5.000000
max,94937.000000,2164.400000,16.000000,1.0,99750.000000,5.000000

In [20]:
customers_products[customers_products.cluster == 0].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,91664.00000,91664.000000,91664.0,91664.0,91664.000000,91664.000000,91664.000000,91664.000000,90288.000000,90288.000000,90288.000000,91650.00000,91650.000000,91650.000000,91650.000000
mean,47541.46581,115.044259,1.0,0.0,34677.924594,1.132080,81.555135,17.974740,48.754463,758.118255,2.208754,1654.25736,29.214315,15.541571,22.317730
std,27419.40626,67.101411,0.0,0.0,29791.308171,0.499128,57.512925,10.280028,10.077899,621.770225,1.728429,2817.05330,15.395835,12.174771,11.062409
min,0.00000,9.590000,1.0,0.0,1003.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.00000,7.000000,2.000000,7.000000
25%,23758.75000,61.100000,1.0,0.0,11035.000000,1.000000,36.900000,12.790000,42.000000,341.000000,1.000000,250.00000,18.000000,8.000000,15.000000
50%,47589.50000,100.460000,1.0,0.0,24060.000000,1.000000,65.000000,15.800000,52.000000,589.000000,1.000000,600.00000,24.000000,12.000000,20.000000
75%,71315.25000,157.512500,1.0,0.0,57362.500000,1.000000,112.000000,19.500000,57.000000,947.000000,3.000000,1583.00000,36.000000,20.000000,29.000000
max,94982.00000,306.060000,1.0,0.0,99990.000000,21.000000,293.900000,215.430000,76.000000,3988.000000,20.000000,40425.00000,105.000000,105.000000,118.000000

In [22]:
customers_products[customers_products.cluster == 0].product_category_name.value_counts()

cama_mesa_banho                  9185
beleza_saude                     7772
esporte_lazer                    7186
moveis_decoracao                 6615
informatica_acessorios           6245
                                 ...
la_cuisine                          9
fashion_roupa_infanto_juvenil       7
pc_gamer                            5
seguros_e_servicos                  2
pcs                                 1
Name: product_category_name, Length: 73, dtype: int64

In [23]:
customers_reviews[customers_reviews.cluster == 0].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,review_score
count,82315.000000,82315.000000,82315.0,82315.0,82315.000000,82315.000000
mean,47487.336852,110.139292,1.0,0.0,34809.393209,4.127401
std,27425.625347,65.184711,0.0,0.0,29784.053403,1.306936
min,0.000000,9.590000,1.0,0.0,1003.000000,1.000000
25%,23718.500000,58.000000,1.0,0.0,11055.000000,4.000000
50%,47498.000000,95.020000,1.0,0.0,24220.000000,5.000000
75%,71218.000000,149.860000,1.0,0.0,58036.000000,5.000000
max,94982.000000,306.060000,1.0,0.0,99990.000000,5.000000

In [21]:
customers_products[customers_products.cluster == 3].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,11798.000000,11798.000000,11798.0,11798.0,11798.000000,11798.000000,11798.000000,11798.000000,11700.000000,11700.000000,11700.000000,11798.000000,11798.000000,11798.000000,11798.000000
mean,47562.807171,507.791675,1.0,3.0,38907.029073,1.528225,330.859048,32.421466,48.869145,976.897350,2.298291,4955.204696,36.245550,23.937532,27.202661
std,27450.277577,198.426930,0.0,0.0,30036.924630,1.148915,222.981999,27.799310,9.682977,742.004959,1.736880,6468.521893,18.963235,18.552545,14.391605
min,7.000000,306.100000,1.0,3.0,1006.000000,1.000000,11.500000,0.000000,5.000000,4.000000,1.000000,0.000000,8.000000,2.000000,6.000000
25%,23970.000000,355.215000,1.0,3.0,13201.250000,1.000000,149.900000,16.990000,42.000000,438.000000,1.000000,600.000000,20.000000,11.000000,16.000000
50%,47859.500000,430.980000,1.0,3.0,29200.000000,1.000000,299.900000,22.325000,51.000000,757.000000,2.000000,1750.000000,30.000000,17.000000,22.000000
75%,71658.000000,614.210000,1.0,3.0,65920.750000,2.000000,426.740000,38.367500,57.000000,1271.000000,3.000000,7350.000000,47.000000,30.000000,35.000000
max,94977.000000,1137.110000,1.0,3.0,99930.000000,15.000000,1199.900000,312.410000,64.000000,3976.000000,14.000000,30000.000000,105.000000,105.000000,105.000000

In [25]:
customers_products[customers_products.cluster == 3].product_category_name.value_counts()

beleza_saude                      1209
relogios_presentes                 941
informatica_acessorios             866
moveis_decoracao                   833
cama_mesa_banho                    774
                                  ...
fashion_underwear_e_moda_praia       2
artes_e_artesanato                   2
artigos_de_festas                    2
livros_importados                    1
fashion_esporte                      1
Name: product_category_name, Length: 66, dtype: int64

In [26]:
customers_reviews[customers_reviews.cluster == 3].describe()

,Unnamed: 0,total_value,quant_orders,cluster,customer_zip_code_prefix,review_score
count,8484.000000,8484.000000,8484.0,8484.0,8484.000000,8484.000000
mean,47519.283475,502.011729,1.0,3.0,39333.537600,3.964521
std,27417.936836,195.519176,0.0,0.0,29899.782341,1.452145
min,7.000000,306.100000,1.0,3.0,1006.000000,1.000000
25%,23898.500000,351.615000,1.0,3.0,13218.000000,3.000000
50%,47587.500000,424.915000,1.0,3.0,30180.000000,5.000000
75%,71443.750000,607.645000,1.0,3.0,65727.500000,5.000000
max,94977.000000,1137.110000,1.0,3.0,99930.000000,5.000000